{
  "openapi": "3.1.0",
  "info": {
    "title": "Chatbase API v2",
    "version": "2.0.0",
    "description": "Chatbase API v2 - A robust, structured API for managing agents, conversations, and the helpdesk."
  },
  "servers": [
    {
      "url": "https://www.chatbase.co/api/v2",
      "description": "Chatbase API v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your account settings"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "details": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Field-level validation errors"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "UnixTimestamp": {
        "type": "number"
      },
      "ListAgentsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "cursor": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Cursor for the next page, or null if no more pages"
              },
              "hasMore": {
                "type": "boolean",
                "description": "Whether more results are available"
              },
              "total": {
                "type": "number",
                "description": "Total number of items matching the query"
              }
            },
            "required": [
              "cursor",
              "hasMore",
              "total"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Agent ID",
            "example": "5QHA6VB-DIAbBhxwqxfdi"
          },
          "name": {
            "type": "string",
            "description": "Agent name",
            "example": "Support Bot"
          },
          "instructions": {
            "type": "string",
            "description": "System prompt / instructions for the agent"
          },
          "channelInstructions": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "chat_widget": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "help_page": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "center_stage": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "side_panel": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "slack": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "whatsapp": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "messenger": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "instagram": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "salesforce": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "zendesk": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "zendesk_messaging": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "api": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "email": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "android_sdk": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "ios_sdk": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "phone": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "search": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            },
            "description": "Per-channel instruction overrides"
          },
          "model": {
            "type": "string",
            "enum": [
              "gpt-4o",
              "gpt-4o-mini",
              "o4-mini",
              "gpt-oss-120b",
              "gpt-oss-20b",
              "gpt-5",
              "gpt-5.1",
              "gpt-5.2",
              "gpt-5.4",
              "gpt-5.4-mini",
              "gpt-5.4-nano",
              "gpt-5.5",
              "gpt-5.6-terra",
              "gpt-5.6-luna",
              "gpt-5-mini",
              "gpt-5-nano",
              "claude-opus-4-8",
              "claude-opus-4-7",
              "claude-opus-4-6",
              "claude-sonnet-4-6",
              "claude-opus-4-5",
              "claude-haiku-4-5",
              "claude-sonnet-4-5",
              "gemini-2.5-pro",
              "gemini-3-flash",
              "gemini-3.1-flash-lite",
              "gemini-3.1-pro",
              "gemini-3.5-flash",
              "gemini-3.5-flash-lite",
              "gemini-3.6-flash",
              "grok-3",
              "grok-3-mini",
              "grok-4",
              "DeepSeek-V3",
              "DeepSeek-R1",
              "DeepSeek-V4-Flash",
              "Llama-4-Scout-17B-16E-Instruct",
              "Llama-4-Maverick-17B-128E-Instruct-FP8",
              "kimi-k2",
              "mistral-medium-3.5",
              "mistral-small-2603",
              "glm-5.2",
              "auto"
            ],
            "description": "AI model used by the agent. Can be a deprecated model for agents that were configured before it was retired.",
            "example": "gpt-5.6-terra"
          },
          "autoRetrain": {
            "type": "boolean",
            "description": "Whether the agent automatically retrains every 7 days"
          },
          "temp": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Model temperature (0–1)",
            "example": 0
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Whether the agent is publicly accessible or private"
          },
          "allowedDomains": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Domains allowed to embed this agent"
          },
          "suggestedMessages": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "minLength": 1
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "single"
                      ]
                    },
                    "order": {
                      "type": "number"
                    },
                    "icon": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "text",
                    "type",
                    "order"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "nested"
                      ]
                    },
                    "order": {
                      "type": "number"
                    },
                    "icon": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "minLength": 1
                          },
                          "order": {
                            "type": "number"
                          },
                          "icon": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "text",
                          "order"
                        ]
                      },
                      "minItems": 1,
                      "maxItems": 20
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "order",
                    "items"
                  ]
                }
              ]
            },
            "description": "Suggested quick-reply messages shown to users"
          },
          "initialMessages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Initial messages shown when a conversation starts"
          },
          "creditLimit": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Per-agent credit limit (null = no limit)"
          },
          "creditsUsed": {
            "type": "integer",
            "description": "Credits consumed by this agent since the start of the current calendar month (UTC). Resets to 0 on the 1st of each month.",
            "example": 1284
          },
          "notificationsSettings": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "dailyLeadsCollected": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\w+([+.-]?\\w+)*@\\w+([.-]?\\w+)*(\\.\\w{2,})+$"
                    },
                    "maxItems": 10
                  }
                },
                "required": [
                  "active",
                  "emails"
                ]
              },
              "dailyConversations": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\w+([+.-]?\\w+)*@\\w+([.-]?\\w+)*(\\.\\w{2,})+$"
                    },
                    "maxItems": 10
                  }
                },
                "required": [
                  "active",
                  "emails"
                ]
              }
            },
            "required": [
              "dailyLeadsCollected",
              "dailyConversations"
            ],
            "description": "Email notification settings including recipient addresses"
          },
          "ipRateLimits": {
            "$ref": "#/components/schemas/AgentIpRateLimits"
          },
          "voiceSettings": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "voice": {
                "type": "object",
                "properties": {
                  "voiceName": {
                    "type": "string"
                  },
                  "speed": {
                    "type": "number",
                    "minimum": 0.7,
                    "maximum": 1.2
                  },
                  "stability": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "similarity": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "speed",
                  "stability",
                  "similarity"
                ]
              },
              "transcriber": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "minSilenceDuration": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 3
                  },
                  "activationThreshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  }
                },
                "required": [
                  "model",
                  "language",
                  "minSilenceDuration",
                  "activationThreshold"
                ]
              },
              "recordings": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "retentionDays": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "enabled",
                  "retentionDays"
                ]
              },
              "maxConcurrentSessions": {
                "type": [
                  "integer",
                  "null"
                ],
                "exclusiveMinimum": 0
              },
              "maxCallDurationSeconds": {
                "type": [
                  "integer",
                  "null"
                ],
                "exclusiveMinimum": 0
              },
              "maxDailyCallsPerUser": {
                "type": [
                  "integer",
                  "null"
                ],
                "exclusiveMinimum": 0
              },
              "model": {
                "type": "string",
                "enum": [
                  "gpt-4o",
                  "gpt-4o-mini",
                  "o4-mini",
                  "gpt-oss-120b",
                  "gpt-oss-20b",
                  "gpt-5",
                  "gpt-5.1",
                  "gpt-5.2",
                  "gpt-5.4",
                  "gpt-5.4-mini",
                  "gpt-5.4-nano",
                  "gpt-5.5",
                  "gpt-5.6-terra",
                  "gpt-5.6-luna",
                  "gpt-5-mini",
                  "gpt-5-nano",
                  "claude-opus-4-8",
                  "claude-opus-4-7",
                  "claude-opus-4-6",
                  "claude-sonnet-4-6",
                  "claude-opus-4-5",
                  "claude-haiku-4-5",
                  "claude-sonnet-4-5",
                  "gemini-2.5-pro",
                  "gemini-3-flash",
                  "gemini-3.1-flash-lite",
                  "gemini-3.1-pro",
                  "gemini-3.5-flash",
                  "gemini-3.5-flash-lite",
                  "gemini-3.6-flash",
                  "grok-3",
                  "grok-3-mini",
                  "grok-4",
                  "DeepSeek-V3",
                  "DeepSeek-R1",
                  "DeepSeek-V4-Flash",
                  "Llama-4-Scout-17B-16E-Instruct",
                  "Llama-4-Maverick-17B-128E-Instruct-FP8",
                  "kimi-k2",
                  "mistral-medium-3.5",
                  "mistral-small-2603",
                  "glm-5.2",
                  "auto"
                ]
              },
              "temperature": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "allowInterruptions": {
                "type": "boolean"
              },
              "allowTextInput": {
                "type": "boolean"
              },
              "endConversationAfterSilenceSeconds": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 10
              },
              "initialMessage": {
                "type": "string",
                "maxLength": 500
              },
              "errorMessage": {
                "type": "string",
                "maxLength": 500
              }
            },
            "description": "Voice mode settings"
          },
          "styles": {
            "$ref": "#/components/schemas/AgentStyles"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp",
            "example": "2024-01-15T10:30:00.000Z"
          },
          "lastMessageAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 8601 timestamp of the last received message"
          },
          "lastTrainedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 8601 timestamp of the last completed training"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "description": "Current training status of the agent",
            "example": "trained"
          },
          "size": {
            "type": "number",
            "description": "Total size of training data in bytes"
          }
        },
        "required": [
          "id",
          "name",
          "instructions",
          "channelInstructions",
          "model",
          "autoRetrain",
          "temp",
          "visibility",
          "allowedDomains",
          "suggestedMessages",
          "initialMessages",
          "creditLimit",
          "creditsUsed",
          "notificationsSettings",
          "ipRateLimits",
          "voiceSettings",
          "styles",
          "createdAt",
          "lastMessageAt",
          "lastTrainedAt",
          "status",
          "size"
        ]
      },
      "AgentIpRateLimits": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "description": "Maximum messages per timeframe (1–200)",
            "example": 20
          },
          "timeframe": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3600,
            "description": "Timeframe in seconds for the rate limit (1–3600)",
            "example": 240
          },
          "message": {
            "type": "string",
            "description": "Message shown when rate limit is exceeded",
            "example": "Too many messages in a row"
          }
        },
        "required": [
          "limit",
          "timeframe",
          "message"
        ]
      },
      "AgentStyles": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "chat": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark"
                ],
                "default": "light"
              },
              "buttonColor": {
                "anyOf": [
                  {
                    "type": "string",
                    "pattern": "^#([0-9A-F]{3}){1,2}$/i"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "transparent"
                    ]
                  }
                ]
              },
              "headerColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i"
              },
              "userMessageColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i"
              },
              "displayName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "autoOpenChatWindowAfter": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "mobile": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "initialMessages": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "enabled",
                      "value"
                    ]
                  },
                  "autoOpenChatWindowAfter": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "value": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "enabled",
                      "value"
                    ]
                  },
                  "showAutoOpen": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                }
              },
              "alignChatButton": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "left",
                  "right",
                  null
                ]
              },
              "messagePlaceholder": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "footer": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "showFeedback": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "showCopyButton": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "dismissableNotice": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "showDictation": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "showAttachments": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "showVoiceMode": {
                "type": [
                  "boolean",
                  "null"
                ]
              }
            },
            "description": "Chat widget styles"
          },
          "centerStage": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": false
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark"
                ],
                "default": "light"
              },
              "displayName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "welcomeMessage": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "messagePlaceholder": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "footer": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "dismissableNotice": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "suggestedMessages": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "single"
                          ]
                        },
                        "order": {
                          "type": "number"
                        },
                        "icon": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "text",
                        "type",
                        "order"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "nested"
                          ]
                        },
                        "order": {
                          "type": "number"
                        },
                        "icon": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "minLength": 1
                              },
                              "order": {
                                "type": "number"
                              },
                              "icon": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "text",
                              "order"
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      },
                      "required": [
                        "name",
                        "type",
                        "order",
                        "items"
                      ]
                    }
                  ]
                }
              },
              "showChatBubble": {
                "type": "boolean",
                "default": true
              },
              "showAttachments": {
                "type": "boolean",
                "default": false
              },
              "showDictation": {
                "type": "boolean",
                "default": true
              },
              "showVoiceMode": {
                "type": "boolean",
                "default": false
              },
              "showCopyButton": {
                "type": "boolean",
                "default": false
              },
              "showFeedback": {
                "type": "boolean",
                "default": true
              },
              "showDataSource": {
                "type": "boolean",
                "default": true
              },
              "headerColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i"
              },
              "userMessageColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i"
              },
              "tintedGrayscale": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "default": false
                  },
                  "hue": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 360,
                    "default": 0
                  },
                  "tint": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 9
                  },
                  "shade": {
                    "type": "number",
                    "minimum": -4,
                    "maximum": 4
                  }
                }
              },
              "accentColorEnabled": {
                "type": "boolean"
              },
              "accentSyncWithIcon": {
                "type": "boolean"
              },
              "typography": {
                "type": "object",
                "properties": {
                  "fontFamily": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9 ,'\"_-]+$",
                    "default": "Inter"
                  },
                  "fontSize": {
                    "type": "string",
                    "pattern": "^\\d+(\\.\\d+)?(px|rem|em)$",
                    "default": "16px"
                  }
                }
              },
              "closeOnOutsideClick": {
                "type": "boolean",
                "default": true
              }
            },
            "description": "Center stage widget styles"
          }
        },
        "required": [
          "chat",
          "centerStage"
        ]
      },
      "AgentCreatedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The agent ID",
            "example": "5QHA6VB-DIAbBhxwqxfdi"
          },
          "pendingSteps": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ADD_SOURCE",
                "TRAIN_AGENT"
              ]
            },
            "description": "Steps that failed after the agent was created, absent when everything succeeded. ADD_SOURCE — the provided URL could not be added as a source; add sources manually via the Sources API. TRAIN_AGENT — training could not be started; trigger it manually via POST /agents/{agentId}/train."
          }
        },
        "required": [
          "id"
        ]
      },
      "CreateAgentBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Agent name",
            "example": "Support Bot"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Homepage URL of the product. The agent is pre-configured to answer questions about this website.",
            "example": "https://example.com"
          },
          "instructions": {
            "type": "string",
            "description": "System prompt / instructions for the agent"
          },
          "model": {
            "type": "string",
            "enum": [
              "gpt-4o-mini",
              "gpt-oss-120b",
              "gpt-oss-20b",
              "gpt-5.2",
              "gpt-5.5",
              "gpt-5.6-terra",
              "gpt-5.6-luna",
              "gpt-5-mini",
              "gpt-5-nano",
              "claude-opus-4-8",
              "claude-opus-4-7",
              "claude-opus-4-6",
              "claude-sonnet-4-6",
              "claude-opus-4-5",
              "claude-haiku-4-5",
              "claude-sonnet-4-5",
              "gemini-2.5-pro",
              "gemini-3-flash",
              "gemini-3.1-flash-lite",
              "gemini-3.1-pro",
              "gemini-3.5-flash",
              "gemini-3.5-flash-lite",
              "gemini-3.6-flash",
              "grok-3",
              "grok-3-mini",
              "grok-4",
              "DeepSeek-V3",
              "DeepSeek-R1",
              "DeepSeek-V4-Flash",
              "Llama-4-Scout-17B-16E-Instruct",
              "Llama-4-Maverick-17B-128E-Instruct-FP8",
              "kimi-k2",
              "mistral-medium-3.5",
              "mistral-small-2603",
              "glm-5.2",
              "auto"
            ],
            "description": "AI model to use",
            "example": "gpt-5.6-terra"
          },
          "temp": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Model temperature (0–1)",
            "example": 0
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Agent visibility (default: private)"
          }
        },
        "required": [
          "name"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ]
      },
      "UpdateAgentBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Agent name"
          },
          "instructions": {
            "type": "string",
            "description": "System prompt"
          },
          "channelInstructions": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "chat_widget": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "help_page": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "center_stage": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "side_panel": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "slack": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "whatsapp": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "messenger": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "instagram": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "salesforce": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "zendesk": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "zendesk_messaging": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "api": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "email": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "android_sdk": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "ios_sdk": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "phone": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              },
              "search": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "chat": {
                        "type": "string"
                      },
                      "voice": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            },
            "description": "Per-channel instruction overrides"
          },
          "model": {
            "type": "string",
            "enum": [
              "gpt-4o-mini",
              "gpt-oss-120b",
              "gpt-oss-20b",
              "gpt-5.2",
              "gpt-5.5",
              "gpt-5.6-terra",
              "gpt-5.6-luna",
              "gpt-5-mini",
              "gpt-5-nano",
              "claude-opus-4-8",
              "claude-opus-4-7",
              "claude-opus-4-6",
              "claude-sonnet-4-6",
              "claude-opus-4-5",
              "claude-haiku-4-5",
              "claude-sonnet-4-5",
              "gemini-2.5-pro",
              "gemini-3-flash",
              "gemini-3.1-flash-lite",
              "gemini-3.1-pro",
              "gemini-3.5-flash",
              "gemini-3.5-flash-lite",
              "gemini-3.6-flash",
              "grok-3",
              "grok-3-mini",
              "grok-4",
              "DeepSeek-V3",
              "DeepSeek-R1",
              "DeepSeek-V4-Flash",
              "Llama-4-Scout-17B-16E-Instruct",
              "Llama-4-Maverick-17B-128E-Instruct-FP8",
              "kimi-k2",
              "mistral-medium-3.5",
              "mistral-small-2603",
              "glm-5.2",
              "auto"
            ],
            "description": "AI model",
            "example": "gpt-5.6-terra"
          },
          "temp": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Temperature (0–1)"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Visibility"
          },
          "allowedDomains": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Allowed embed domains"
          },
          "suggestedMessages": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "minLength": 1
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "single"
                      ]
                    },
                    "order": {
                      "type": "number"
                    },
                    "icon": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "text",
                    "type",
                    "order"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "nested"
                      ]
                    },
                    "order": {
                      "type": "number"
                    },
                    "icon": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "minLength": 1
                          },
                          "order": {
                            "type": "number"
                          },
                          "icon": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "text",
                          "order"
                        ]
                      },
                      "minItems": 1,
                      "maxItems": 20
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "order",
                    "items"
                  ]
                }
              ]
            },
            "description": "Suggested messages"
          },
          "initialMessages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Initial messages"
          },
          "creditLimit": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Per-agent credit limit (null = no limit)"
          },
          "notificationsSettings": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "dailyLeadsCollected": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean",
                    "description": "Whether this notification type is enabled"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\w+([+.-]?\\w+)*@\\w+([.-]?\\w+)*(\\.\\w{2,})+$",
                      "example": "alerts@company.com"
                    },
                    "maxItems": 10,
                    "description": "Recipient email addresses (max 10)"
                  }
                },
                "required": [
                  "active",
                  "emails"
                ],
                "description": "Daily summary of new leads collected by this agent"
              },
              "dailyConversations": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean",
                    "description": "Whether this notification type is enabled"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\w+([+.-]?\\w+)*@\\w+([.-]?\\w+)*(\\.\\w{2,})+$",
                      "example": "alerts@company.com"
                    },
                    "maxItems": 10,
                    "description": "Recipient email addresses (max 10)"
                  }
                },
                "required": [
                  "active",
                  "emails"
                ],
                "description": "Daily summary of conversation volume for this agent"
              }
            },
            "description": "Email notification settings (null = disable all notifications)"
          },
          "ipRateLimits": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "limit": {
                "type": "integer",
                "minimum": 1,
                "maximum": 200,
                "description": "Maximum messages per timeframe (1–200)",
                "example": 20
              },
              "timeframe": {
                "type": "integer",
                "minimum": 1,
                "maximum": 3600,
                "description": "Timeframe in seconds for the rate limit (1–3600)",
                "example": 240
              },
              "message": {
                "type": "string",
                "description": "Message shown when rate limit is exceeded",
                "example": "Too many messages in a row"
              }
            },
            "description": "IP-based rate limit settings (partial update; null = reset to defaults)"
          },
          "voiceSettings": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "voice": {
                "type": "object",
                "properties": {
                  "voiceName": {
                    "type": "string",
                    "enum": [
                      "Sarah",
                      "Laura",
                      "Alice",
                      "Matilda",
                      "Jessica",
                      "Lily",
                      "Bella",
                      "Roger",
                      "George",
                      "Charlie",
                      "Adam",
                      "Daniel",
                      "Brian",
                      "Eric",
                      "Chris",
                      "Liam",
                      "Harry",
                      "Will",
                      "Bill",
                      "Callum",
                      "Masry",
                      "Hanafi",
                      "Alberto Rodríguez",
                      "Jhenny",
                      "Anna",
                      "Peter",
                      "Marc Aurèle",
                      "Marie Line",
                      "Yasmin Alves",
                      "Lax",
                      "Skylar",
                      "Corey",
                      "Jacqueline",
                      "Blake",
                      "Pedro",
                      "Marta",
                      "Alloy",
                      "Ash",
                      "Ballad",
                      "Coral",
                      "Echo",
                      "Fable",
                      "Nova",
                      "Onyx",
                      "Sage",
                      "Shimmer",
                      "Nouran",
                      "Nermin",
                      "Othman",
                      "Layla",
                      "Nada",
                      "Mariam",
                      "Samir",
                      "Eman",
                      "Haneen",
                      "Fahd",
                      "Jasem",
                      "Marwa",
                      "Razan",
                      "Yehya",
                      "Hamdan",
                      "Zephyr",
                      "Puck",
                      "Charon",
                      "Kore",
                      "Fenrir",
                      "Leda",
                      "Orus",
                      "Aoede",
                      "Enceladus",
                      "Sulafat",
                      "Mina",
                      "Nina",
                      "Ruby",
                      "Mason",
                      "Rohan"
                    ],
                    "example": "Corey",
                    "description": "Name of the voice for this agent."
                  },
                  "speed": {
                    "type": "number",
                    "minimum": 0.7,
                    "maximum": 1.2,
                    "description": "Speech rate multiplier (0.7–1.2). Only supported on select voices; ignored for others.",
                    "example": 1
                  },
                  "stability": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Voice consistency (0–1). Higher values produce more consistent delivery. Only supported on select voices; ignored for others.",
                    "example": 0.5
                  },
                  "similarity": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "How closely the output matches the reference voice sample (0–1). Only supported on select voices; ignored for others.",
                    "example": 0.75
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Natural-language delivery instructions for the voice (max 500 chars). Only supported on select voices; ignored for others.",
                    "example": "Speak slowly and clearly."
                  }
                },
                "required": [
                  "voiceName"
                ],
                "description": "Text-to-speech voice configuration"
              },
              "transcriber": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "elevenlabs/scribe_v2_realtime",
                      "cartesia/ink-2",
                      "cartesia/ink-whisper",
                      "deepgram/nova-3",
                      "deepgram/nova-2",
                      "deepgram/flux-general-multi",
                      "soniox/stt-rt-v5",
                      "soniox/stt-rt-v4",
                      "hamsa/hamsa-ar"
                    ],
                    "example": "soniox/stt-rt-v5",
                    "description": "Speech-to-text model to use for this agent."
                  },
                  "language": {
                    "type": "string",
                    "description": "BCP-47 language code for speech recognition (e.g. \"en\", \"fr\", \"ar\"). Use \"multi\" for automatic detection. Valid codes depend on the selected model.",
                    "example": "multi"
                  },
                  "minSilenceDuration": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 3,
                    "description": "Seconds of continuous silence that signals the user has finished speaking (0.1–3.0). Lower values make the agent respond faster but may cut off slow speakers.",
                    "example": 0.75
                  },
                  "activationThreshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Voice activity detection sensitivity (0–1). Lower values detect quieter speech but may pick up background noise. Higher values require clearer speech to activate.",
                    "example": 0.5
                  }
                },
                "required": [
                  "model",
                  "language",
                  "minSilenceDuration",
                  "activationThreshold"
                ],
                "description": "Speech-to-text (voice input) configuration"
              },
              "recordings": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether voice calls are recorded and stored"
                  },
                  "retentionDays": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "How many days recordings are kept before automatic deletion. 0 disables storage even when enabled is true.",
                    "example": 30
                  }
                },
                "required": [
                  "enabled",
                  "retentionDays"
                ],
                "description": "Call recording and retention settings"
              },
              "maxConcurrentSessions": {
                "type": [
                  "integer",
                  "null"
                ],
                "exclusiveMinimum": 0,
                "description": "Maximum simultaneous active voice calls for this agent. null = no limit.",
                "example": 5
              },
              "maxCallDurationSeconds": {
                "type": [
                  "integer",
                  "null"
                ],
                "exclusiveMinimum": 0,
                "description": "Maximum length of a single call in seconds. The call ends automatically when reached. null = no limit.",
                "example": 900
              },
              "maxDailyCallsPerUser": {
                "type": [
                  "integer",
                  "null"
                ],
                "exclusiveMinimum": 0,
                "description": "Maximum voice calls a single user can start per calendar day. null = no limit.",
                "example": 10
              },
              "model": {
                "type": "string",
                "enum": [
                  "gpt-4o-mini",
                  "gpt-oss-120b",
                  "gpt-oss-20b",
                  "gpt-5.2",
                  "gpt-5.5",
                  "gpt-5.6-terra",
                  "gpt-5.6-luna",
                  "gpt-5-mini",
                  "gpt-5-nano",
                  "claude-opus-4-8",
                  "claude-opus-4-7",
                  "claude-opus-4-6",
                  "claude-sonnet-4-6",
                  "claude-opus-4-5",
                  "claude-haiku-4-5",
                  "claude-sonnet-4-5",
                  "gemini-2.5-pro",
                  "gemini-3-flash",
                  "gemini-3.1-flash-lite",
                  "gemini-3.1-pro",
                  "gemini-3.5-flash",
                  "gemini-3.5-flash-lite",
                  "gemini-3.6-flash",
                  "grok-3",
                  "grok-3-mini",
                  "grok-4",
                  "DeepSeek-V3",
                  "DeepSeek-R1",
                  "DeepSeek-V4-Flash",
                  "Llama-4-Scout-17B-16E-Instruct",
                  "Llama-4-Maverick-17B-128E-Instruct-FP8",
                  "kimi-k2",
                  "mistral-medium-3.5",
                  "mistral-small-2603",
                  "glm-5.2",
                  "auto"
                ],
                "description": "AI model used to generate responses during a voice call. Can be set independently from the chat model — faster, cheaper models are common here.",
                "example": "gpt-5.6-luna"
              },
              "temperature": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "description": "Randomness of voice responses (0–1). 0 = deterministic and focused, 1 = more varied and creative.",
                "example": 0
              },
              "allowInterruptions": {
                "type": "boolean",
                "description": "When true the user can speak while the agent is talking and the agent will stop and listen. When false the agent finishes its turn before processing new speech."
              },
              "allowTextInput": {
                "type": "boolean",
                "description": "When true users can also type messages during a voice session instead of only speaking."
              },
              "endConversationAfterSilenceSeconds": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 10,
                "description": "Seconds of inactivity before the session ends automatically. Minimum 10 seconds. null = session never auto-ends.",
                "example": 300
              },
              "initialMessage": {
                "type": "string",
                "maxLength": 500,
                "description": "Message the agent speaks immediately when a voice session starts, before the user says anything. Leave empty to wait for the user to speak first (max 500 chars)."
              },
              "errorMessage": {
                "type": "string",
                "maxLength": 500,
                "description": "Fallback message spoken to the user when the agent encounters an unrecoverable error during a call (max 500 chars)."
              }
            },
            "description": "Voice mode configuration (null = disable voice mode)"
          }
        }
      },
      "UpdateAgentStylesBody": {
        "type": "object",
        "properties": {
          "styles": {
            "$ref": "#/components/schemas/UpdateAgentStylesInput"
          }
        },
        "required": [
          "styles"
        ]
      },
      "UpdateAgentStylesInput": {
        "type": "object",
        "properties": {
          "chat": {
            "type": "object",
            "properties": {
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark"
                ],
                "description": "Widget color theme",
                "example": "light"
              },
              "headerColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                "example": "#1A2B3C",
                "description": "Chat header background color (hex, e.g. #1A2B3C)"
              },
              "userMessageColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                "example": "#1A2B3C",
                "description": "User message bubble background color (hex)"
              },
              "buttonColor": {
                "anyOf": [
                  {
                    "type": "string",
                    "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                    "example": "#1A2B3C"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "transparent"
                    ]
                  }
                ],
                "description": "Chat launcher button and primary accent color. Pass a hex code or \"transparent\"",
                "example": "#1A2B3C"
              },
              "displayName": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 100,
                "description": "Name displayed in the chat header. Defaults to the agent name (max 100 chars)"
              },
              "autoOpenChatWindowAfter": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Seconds after page load before the chat window opens automatically. null = disabled",
                "example": 5
              },
              "mobile": {
                "type": "object",
                "properties": {
                  "initialMessages": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "enabled",
                      "value"
                    ]
                  },
                  "autoOpenChatWindowAfter": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "value": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "enabled",
                      "value"
                    ]
                  },
                  "showAutoOpen": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                },
                "description": "Mobile-specific overrides for initial messages and auto-open timing"
              },
              "alignChatButton": {
                "type": "string",
                "enum": [
                  "left",
                  "right"
                ],
                "description": "Corner the launcher button is anchored to",
                "example": "right"
              },
              "messagePlaceholder": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 200,
                "description": "Placeholder text shown inside the message input field (max 200 chars)"
              },
              "footer": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 500,
                "description": "Small text shown below the input bar, e.g. branding or legal notice (max 500 chars)"
              },
              "showFeedback": {
                "type": "boolean",
                "description": "Show thumbs-up / thumbs-down buttons on agent messages"
              },
              "showCopyButton": {
                "type": "boolean",
                "description": "Show a copy-to-clipboard button on agent messages"
              },
              "dismissableNotice": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 500,
                "description": "Text shown in a dismissable banner above the chat. Empty string = hidden (max 500 chars)"
              },
              "showDictation": {
                "type": "boolean",
                "description": "Show a microphone button for speech-to-text input"
              },
              "showAttachments": {
                "type": "boolean",
                "description": "Allow users to attach files to their messages"
              },
              "showVoiceMode": {
                "type": "boolean",
                "description": "Show the voice-conversation mode button in the chat"
              }
            },
            "description": "Chat widget styles"
          },
          "centerStage": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "Enable or disable the Center Stage widget entirely"
              },
              "displayName": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 100,
                "description": "Name shown in the widget header. Defaults to the agent name (max 100 chars)"
              },
              "welcomeMessage": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 500,
                "description": "Greeting text shown above the message input when the conversation is empty (max 500 chars)"
              },
              "messagePlaceholder": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 200,
                "description": "Placeholder text inside the message input field (max 200 chars)"
              },
              "dismissableNotice": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 500,
                "description": "Text shown in a dismissable banner inside the widget. Empty string = hidden (max 500 chars)"
              },
              "footer": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 500,
                "description": "Small text below the input bar, e.g. branding or legal notice (max 500 chars)"
              },
              "suggestedMessages": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "single"
                          ]
                        },
                        "order": {
                          "type": "number"
                        },
                        "icon": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "text",
                        "type",
                        "order"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "nested"
                          ]
                        },
                        "order": {
                          "type": "number"
                        },
                        "icon": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "minLength": 1
                              },
                              "order": {
                                "type": "number"
                              },
                              "icon": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "text",
                              "order"
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      },
                      "required": [
                        "name",
                        "type",
                        "order",
                        "items"
                      ]
                    }
                  ]
                },
                "description": "Quick-reply buttons shown to the user at the start of the conversation"
              },
              "showChatBubble": {
                "type": "boolean",
                "description": "Wrap agent messages in a chat bubble style"
              },
              "showAttachments": {
                "type": "boolean",
                "description": "Allow users to attach files to their messages"
              },
              "showDictation": {
                "type": "boolean",
                "description": "Show a microphone button for speech-to-text input"
              },
              "showVoiceMode": {
                "type": "boolean",
                "description": "Show the voice-conversation mode button"
              },
              "showCopyButton": {
                "type": "boolean",
                "description": "Show a copy-to-clipboard button on agent messages"
              },
              "showFeedback": {
                "type": "boolean",
                "description": "Show thumbs-up / thumbs-down feedback buttons on agent messages"
              },
              "showDataSource": {
                "type": "boolean",
                "description": "Show the source citation below agent messages"
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark"
                ],
                "description": "Widget color theme",
                "example": "light"
              },
              "buttonColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                "example": "#1A2B3C",
                "description": "Primary accent / send-button color (hex)"
              },
              "headerColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                "example": "#1A2B3C",
                "description": "Header bar background color (hex)"
              },
              "userMessageColor": {
                "type": "string",
                "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                "example": "#1A2B3C",
                "description": "User message bubble background color (hex)"
              },
              "tintedGrayscale": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether tinted grayscale is active"
                  },
                  "hue": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 360,
                    "description": "Base hue for the grayscale tint (0–360°)",
                    "example": 220
                  },
                  "tint": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Amount of hue mixed into lighter tones (0–10)",
                    "example": 3
                  },
                  "shade": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Amount of hue mixed into darker tones (0–10)",
                    "example": 3
                  }
                },
                "required": [
                  "enabled",
                  "hue",
                  "tint",
                  "shade"
                ],
                "description": "Tinted grayscale palette. When enabled the widget uses shades of a single hue instead of neutral gray"
              },
              "accentColor": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the custom accent color is active"
                  },
                  "color": {
                    "type": "string",
                    "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                    "example": "#1A2B3C",
                    "description": "Accent color applied to interactive elements (hex)"
                  }
                },
                "required": [
                  "enabled",
                  "color"
                ],
                "description": "Custom accent color override for interactive elements"
              },
              "customSurfaceColors": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether custom surface colors are active"
                  },
                  "background": {
                    "type": "string",
                    "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                    "example": "#1A2B3C",
                    "description": "Widget background color (hex)"
                  },
                  "foreground": {
                    "type": "string",
                    "pattern": "^#([0-9A-F]{3}){1,2}$/i",
                    "example": "#1A2B3C",
                    "description": "Primary text color on the background (hex)"
                  }
                },
                "required": [
                  "enabled",
                  "background",
                  "foreground"
                ],
                "description": "Override the widget background and foreground colors"
              },
              "typography": {
                "type": "object",
                "properties": {
                  "fontFamily": {
                    "type": "string",
                    "enum": [
                      "Inter",
                      "System",
                      "Arial",
                      "Helvetica",
                      "Georgia"
                    ],
                    "description": "Widget font family",
                    "example": "Inter"
                  },
                  "fontSize": {
                    "type": "string",
                    "enum": [
                      "12px",
                      "14px",
                      "16px",
                      "18px",
                      "20px"
                    ],
                    "description": "Widget base font size",
                    "example": "16px"
                  }
                },
                "required": [
                  "fontFamily",
                  "fontSize"
                ],
                "description": "Widget font family and size"
              },
              "width": {
                "type": "string",
                "enum": [
                  "small",
                  "medium",
                  "large"
                ],
                "description": "Widget width preset (small ≈ 360 px, medium ≈ 420 px, large ≈ 520 px)",
                "example": "medium"
              },
              "closeOnOutsideClick": {
                "type": "boolean",
                "description": "Close the widget when the user clicks outside of it"
              },
              "notificationIndicator": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the notification badge is shown"
                  },
                  "number": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 99,
                    "description": "Number displayed in the badge (0–99)",
                    "example": 3
                  }
                },
                "required": [
                  "enabled",
                  "number"
                ],
                "description": "Numeric badge on the launcher to draw attention before the user opens the widget"
              },
              "notificationMessage": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the notification message bubble is shown"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Message text displayed in the bubble (max 200 chars)"
                  }
                },
                "required": [
                  "enabled",
                  "text"
                ],
                "description": "Floating message bubble next to the launcher shown before the user opens the widget"
              }
            },
            "description": "Center stage widget styles"
          }
        }
      },
      "UpdateAgentAutoRetrainBody": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "true = retrain every 7 days, false = never"
          }
        },
        "required": [
          "enabled"
        ]
      },
      "StreamFinishMetadata": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string",
            "description": "Unique ID of the assistant message"
          },
          "userMessageId": {
            "type": "string",
            "description": "The ID of the user message that triggered this response. For continuation responses, this is the last user message in the conversation."
          },
          "conversationId": {
            "type": "string",
            "description": "The conversation ID. Use this for follow-up messages."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The user ID associated with this conversation, or null if none"
          },
          "usage": {
            "type": "object",
            "properties": {
              "credits": {
                "type": "number",
                "description": "Credits consumed by this request",
                "example": 2
              }
            },
            "required": [
              "credits"
            ],
            "description": "Usage information for this request"
          }
        },
        "required": [
          "messageId",
          "userMessageId",
          "conversationId",
          "userId",
          "usage"
        ],
        "description": "Streaming response using the AI SDK UIMessage Stream protocol.\n\nEach SSE event has an `event:` field with the type and a `data:` field with JSON content.\n\n**AI SDK events:**\n- `message-start` — `{ type, messageId }` — Start of a new message\n- `text-start` — `{ type, id }` — Start of a text block\n- `text-delta` — `{ type, id, delta }` — Incremental text chunk\n- `text-end` — `{ type, id }` — End of a text block\n- `tool-input-start` — `{ type, toolCallId, toolName }` — Start of tool call input\n- `tool-input-delta` — `{ type, toolCallId, inputTextDelta }` — Incremental tool input\n- `tool-input-available` — `{ type, toolCallId, toolName, input }` — Complete tool input\n- `tool-output-available` — `{ type, toolCallId, output }` — Tool execution result\n- `start-step` — `{ type }` — Start of a processing step\n- `finish-step` — `{ type }` — End of a processing step\n- `finish` — `{ type }` — Stream complete\n- `error` — `{ type, errorText }` — Error occurred\n\n**Chatbase metadata (emitted as `message-metadata` on the finish event):**\nThe schema below describes the custom metadata attached to the `finish` event. Use `conversationId` for follow-up messages.\n\nStream terminates with `data: [DONE]`."
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique message ID",
            "example": "msg_abc123"
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ],
            "description": "The message role (always \"assistant\" for responses)"
          },
          "parts": {
            "$ref": "#/components/schemas/MessageParts"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "userMessageId": {
                "type": "string",
                "description": "The ID of the user message that triggered this response. For continuation responses, this is the last user message in the conversation."
              },
              "conversationId": {
                "type": "string",
                "description": "The conversation ID. Use this for follow-up messages to continue the conversation."
              },
              "userId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The user ID associated with this conversation, or null if none"
              },
              "finishReason": {
                "type": "string",
                "enum": [
                  "stop",
                  "error",
                  "tool-calls"
                ],
                "description": "Why the model stopped generating. \"stop\" means normal completion, \"error\" means an error occurred, \"tool-calls\" means the model invoked a client-side action — submit the tool result and continue the conversation."
              },
              "usage": {
                "type": "object",
                "properties": {
                  "credits": {
                    "type": "number",
                    "description": "Credits consumed by this request",
                    "example": 2
                  }
                },
                "required": [
                  "credits"
                ],
                "description": "Usage information for this request"
              }
            },
            "required": [
              "userMessageId",
              "conversationId",
              "userId",
              "finishReason",
              "usage"
            ],
            "description": "Response metadata including conversation tracking"
          }
        },
        "required": [
          "id",
          "role",
          "parts",
          "metadata"
        ]
      },
      "MessageParts": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "text"
                  ]
                },
                "text": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "text"
              ]
            },
            {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "tool-call"
                  ]
                },
                "toolCallId": {
                  "type": "string"
                },
                "toolName": {
                  "type": "string"
                },
                "input": {}
              },
              "required": [
                "type",
                "toolCallId",
                "toolName"
              ]
            },
            {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "tool-result"
                  ]
                },
                "toolCallId": {
                  "type": "string"
                },
                "toolName": {
                  "type": "string"
                },
                "output": {}
              },
              "required": [
                "type",
                "toolCallId",
                "toolName"
              ]
            }
          ]
        },
        "description": "Message content parts. Can include text, tool calls, and tool results. Use this for full detail including tool interactions."
      },
      "ChatRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "description": "The user message to send to the agent. Omit to continue the conversation after submitting a tool result.",
            "example": "Hello, how can you help me?"
          },
          "conversationId": {
            "type": "string",
[...]
